<!DOCTYPE html>
<html>
    <head>
        <title></title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'new_app/css/new.css' %}">
        <link rel="stylesheet" href="{% static 'new_app/js/script.js' %}"></script>
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 
        <!-- FONT LINKS  -->
        <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
       

    </head>
    <body>
       
        <div class="container">
            <nav>
                <ul>
                  <li> 
                    <!-- link one -->
                    <a class="link" href="/shows"> Shows </a>
                  </li>
                  <li>
                    <!-- link two -->
                     <a class="link" href="/"> Add New Show </a>
                  </li>
                </ul> 
              </nav>
           
            
            <div class="show-form">
                <form action ="/new_show" method="POST">
                    <p><font size="40px">Add a new show</font></p>
                    {% csrf_token %}
                    <p><font size="">Title</font></p>
                    <input type="text" name="show_title">
                    <p><font size="">Network</font></p>
                    <input type="text" name="show_network">
                    <p><font size="">Release Date</font></p>
                    <input type="text" placeholder="YYYY-MM-DD"name="show_release">
                    <p><font size="">Description</font></p>
                    <textarea rows="4" cols="50" class="span3" placeholder="provide a short description"></textarea><br>
                    <br>
                    <input class="btn btn-warning" type="submit" value="submit"> 
                </form> 
            </div>
            <div class="image">
                <img class="image" src="{% static 'new_app/images/marvel.jpeg' %}" >
            </div>
            
        </div>
    </body>
</html>