<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        {% load static %}
      <link rel="stylesheet" href="{% static 'login_reg/css/success.css' %}">
      <link rel="stylesheet" href="{% static 'login_reg/js/script.js' %}"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
      
        <div class="container">
            <section>
            <h1 id="move"> The Blog.</h1>
                
            <div class="left">
                <h2>Welcome to The Blog, <font color="gold">{{request.session.user}}</font>.</h2>
                <br>
                <h2>Sign into your new account, and get going. </h2><br>
                <h3><font color="gold">Happy posting!</font></h3>
            </div>
            <div class="right">
                
      
            <div class=login>
                    <form method=POST action="/login_user">
                    <h1>Login:</h1>
                    {% csrf_token %}
                    Email: <br>
                    <input autocomplete="off" type="text" name="email"><br>
                    Password: <br>
                    <input autocomplete="off" type="password" name="password"><br><br>
                    <button class="btn btn-primary" type="submit">Login</button>
                    </form>
            </div>
            </div>
              
        </div>
        
    
        </section>
       
        
            

    </body>
</html>